<div>
  <div class="historyCard">
  	{{board.card}}
  </div>
  <table style="float: left">
  	<tr ng-repeat="wp in board.lands">
  		<td ng-repeat="sp in wp">
  			<div class="space">
  				<div class="name">{{sp.name}}</div>
  				<div ng-show="sp.chiefdom">
  					<span class="good">{{sp.chiefdom.good}}</span><span class="value">({{sp.chiefdom.value}})</span>
  				</div>
  			</div>
  		</td>
  	</tr>
  </table>
	<div style="float: left">
		<pre ng-repeat="item in log">{{item}}</pre>
	</div>
</div>